body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#d7a55b;
}

.login-container {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.login-form {
    text-align: center;
}

.login-form h1 {
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #16e38a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0c0102;
}

.signup-link {
    margin-top: 20px;
    color: #555;
}

.signup-link a {
    color: #ff9900;
    text-decoration: none;
    font-weight: bold;
}




